.avatar{
    text-align: center;
    width: 100%;
    /* height: 100%; */
}
.avatar img {
    width: 200px;
    height: 200px;
    max-width: 300px;
    max-height: 300px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none;
}

img{
    vertical-align: middle;
}